doctype html
| <!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
| <!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
| <!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
| <!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->

head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	title(ng-bind="$state.current.title") My Store App
	meta(name='description', content='simple angluar based store app')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	include styles

body
	nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
		.container
			.navbar-header
				a.navbar-brand(ui-sref='home') My Store App
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li(ui-sref-active="active"): a(ui-sref='products.list') Products
					li(ui-sref-active="active"): a(ui-sref='products.add') Add a product

	.container
		|<!--[if lt IE 7]> <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->
		div(ui-view)


	include scripts


| </html>
